<form method="POST" action="/items">
  <p>Training Labels</p>
  <input type="text" name="training_labels">
  <p>Training Data</p>
  <input type="text" name="training_data">
  <p><input type="submit"></p>
</form>
