<% @training_data.each do |td| %>
  <p><%= p td %></p>
  <p>Which label corresponds to the information above?</p>
  <% @training_labels.each do |tl| %>
    <a href="test" class="btn"><%= "#{tl}"%></a>
  <% end %>
<% end %>
