$white: #fff;
$black: #000;
$blue: #2180d7;
$green: #1DB10A;
$gray: #777;
$lightgray: #ABACAE;
$orange: #F47E42;
$red:    #c52f24;
$procore: $orange;

// Site Colors
$background-color: #f0f0f0;
$border-color: #ddd;
$muted: $gray;
$notice: #e8b809;

// Fonts
$font-base-size: 14px;
$font-color-base: #2d3747;
$font-family-base: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Site
$site-content-width: 1200px;
$admin-content-width: 820px;
