<form method="POST" action="/">
  <p>Training Labels</p>
  <textarea rows="5" cols="20" name="training_labels"></textarea>
  <p>Training Data</p>
  <textarea rows="5" cols="20" name="training_data"></textarea>
  <p><input type="submit"></p>
</form>
