<form id="initial_data" method="POST" action="/">
  <p class="title">Training Labels</p>
  <textarea name="training_labels" class="input"></textarea>
  <p class="title">Training Data</p>
  <textarea name="training_data" id="training_data" class="input"></textarea>
  <p><input type="submit"></p>
</form>
