<% @training_data.each do |td| %>
  <p class="training_data"><%= p td %></p>
  <p>Which label corresponds to the information above?</p>
  <% @training_labels.each do |tl| %>
    <a href="test" class="training_label_button"><%= "#{tl}"%></a>
  <% end %>
<% end %>
