<%= javascript_include_tag '/assets/training.js' %>
<body onload="fetchData()">
  <div id="display_data"></div>
</body>
<p>Which label corresponds to the information above?</p>
<% @training_labels.each.with_index do |tl, index| %>
  <button type id="training_label_button"><%="#{index+1}: #{tl}"%></button>
<% end %>
